/SimpleMapper/Example/obj
/SimpleMapper/SimpleMapper/bin
/SimpleMapper/SimpleMapper/obj
/SimpleMapper/UnitTestXUnitNet6/bin
/SimpleMapper/UnitTestXUnitNet6/obj
/SimpleMapper/.vs
/SimpleMapper/packages
