/SimpleMapper/Example/obj
/SimpleMapper/SimpleMapper/bin
/SimpleMapper/SimpleMapper/obj
/SimpleMapper/UnitTestXUnitNet6/bin
/SimpleMapper/UnitTestXUnitNet6/obj
/SimpleMapper/.vs
/SimpleMapper/packages
/SimpleMapper/Benchmark/bin
/SimpleMapper/Benchmark/obj
/SimpleMapper/Example/bin
/ValueMapper/Benchmark/bin
/ValueMapper/Benchmark/obj
/ValueMapper/packages
/ValueMapper/UnitTestXUnitNet6/bin
/ValueMapper/UnitTestXUnitNet6/obj
/ValueMapper/ValueMapperCore/bin
/ValueMapper/ValueMapperCore/obj
/ValueMapper/.vs
/ValueMapper/Benchmark/BenchmarkDotNet.Artifacts
